[fragment] {
    display: none;
}

.linkable {
    cursor: pointer;
}

a, a:hover {
  color: #EC2E90;
}

img {
  display: inline-block;
}

.main-container {
  margin-top: 25px;
}

.pug-box {
  position: relative;
  width: 100%;
  margin-bottom: 50px;
}
.pug-box:hover {
  box-shadow: 0px 0px 5px 1px #EE71BA;
  border-color: #EE71BA;
}
.pug-box .caption {
  padding-right: 70px;
}
.pug {
  border-radius: 4px;
}

.caption-text {
    font-size: 14px;
}

.magnify {
  width: 30px;
  height: 31px;
  display: block;
  border-radius: 6px;
  position: absolute;
  opacity: 0.7;
  top: 10px;
  left: 10px;
  font-size: 24px;
  line-height: 24px;
  border: 1px solid #777;
  text-decoration: none;
  cursor: pointer;
  background-color: white;
}
.magnify:hover {
  text-decoration: none;
}
.magnify:hover, .heart.saved {
  opacity: 0.95;
}

.magnify-inner {
  color: rgba(84,84,85);
  position: absolute;
  left: 5px;
  top: 2px;
  cursor: pointer;
}

.tooltip {
  z-index: 1000;
}

.exact-match-tag {
  position: absolute;
  bottom: -48px;
  right: 4px;
}
.exact-match-top {
  background-color: #EC2E90;
  width: 34px;
  height: 34px;
  border-radius: 50px;
  position: relative;
  top: -78px;
  left: 18px;
  margin-bottom: -26px;
  border-top: 1px solid #A50A56;
}
.exact-match-bottom {
  width: 68px;
  height: 66px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;

  border: 1px solid #A50A56;
  box-shadow: 1px 1px 5px #547;

  background: #ec2290; /* Old browsers */
  background: -moz-linear-gradient(top, #ec2290 39%, #cc287a 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(39%,#ec2290), color-stop(100%,#cc287a)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ec2290 39%,#cc287a 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ec2290 39%,#cc287a 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ec2290 39%,#cc287a 100%); /* IE10+ */
  background: linear-gradient(to bottom, #ec2290 39%,#cc287a 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ec2290', endColorstr='#cc287a',GradientType=0 ); /* IE6-9 */
}

.exact-match-text {
  position: relative;
  z-index: 5;
  text-align: center;
  font-weight: normal;
}

.exact-match-text {
  margin-top: 18px;
  color: #fff;
  font-size: 16px;
  line-height: 16px;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.5);
}

.per-night {
  color: #fff;
  font-size: 10px;
}

.exact-match-tag .icon-pushpin {
  position: relative;
  left: 30px;
  top: -93px;
  margin-bottom: -16px;
  font-size: 14px;
  -webkit-transform: scaleX(-1);
}

.rotate-right {
  -webkit-transform: rotate(3deg);
}

.rotate-left {
  -webkit-transform: rotate(-3deg);
}

.pug {
    width: 312px;
}

.bootstrap-tagsinput {
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    padding: 19px;
    color: #555;
    vertical-align: middle;
    border-radius: 4px;
    line-height: 40px;
}

.tag {
    font-size: 20px !important;
    font-weight: normal !important;
}

.bootstrap-tagsinput input {
    border: none;
    box-shadow: none;
    outline: none;
    background-color: transparent;
    padding: 0px;
    height: 25px;
    width: auto !important;
    max-width: inherit;
    font-size: 18px;
}

.bootstrap-tagsinput input:focus {
    border: none;
    box-shadow: none;
}
.bootstrap-tagsinput .tag {
    margin-right: 2px;
    color: white;
}
.bootstrap-tagsinput .tag [data-role="remove"] {
    margin-left: 8px;
    cursor: pointer;
}
.bootstrap-tagsinput .tag [data-role="remove"]:after {
    content: "x";
    padding: 0px 2px;
}
.bootstrap-tagsinput .tag [data-role="remove"]:hover {
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.bootstrap-tagsinput .tag [data-role="remove"]:hover:active {
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

